<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "Iniciar Sesión", new_user_session_path %>
<%= link_to "Crear una cuenta", new_user_registration_path %>
<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>